footer{
    display: flex;
    flex-direction: row;
    background-color: #255;
    padding: 18px;
    font-family: 'Dosis';
    text-align: center;
    justify-content: space-around;
}
footer section{
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

h2{
    color: white;
    margin: 10px;
    font-size: 18px;
    letter-spacing: 5;
    border-bottom: 2px solid white;
}

a{
    text-decoration: none;
    color: white;
    padding: 2px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

a:hover{
    border-bottom: 2px solid white;
    margin-bottom: 9px;
}